svd_test
Bucky
MrBayes
Lily
Lily-main
bucky
*code-workspace
.vscode/
mbsum
setup.sh
Plot/*
!Plot/scripts/
Alignments-WeightedQuartets-SpeciesTree-main/*
!Alignments-WeightedQuartets-SpeciesTree-main/Scripts-2/
Alignments-WeightedQuartets-SpeciesTree-main/Scripts-2/__pycache__
Alignments-WeightedQuartets-SpeciesTree-main/Scripts-2/*ipynb-checkpoints
Alignments-WeightedQuartets-SpeciesTree-main/Scripts-2/quartet-correction
Alignments-WeightedQuartets-SpeciesTree-main/Scripts-2/test
Alignments-WeightedQuartets-SpeciesTree-main/Scripts-2/*.txt
Alignments-WeightedQuartets-SpeciesTree-main/Scripts-2/wQFM-2020-master
!Alignments-WeightedQuartets-SpeciesTree-main/Results/data/
!Alignments-WeightedQuartets-SpeciesTree-main/Estimated-Species-Trees/FP_FN/
!Alignments-WeightedQuartets-SpeciesTree-main/Estimated-Species-Trees/RF-rates/
